<%= form_with(model: @questions, url: questions_path, local: true) do |form| %>
<!--バリデーション・エラー処理-->
<% if @questions.errors.any? %>
 <div id="error_explanation">
     <h3><%= @questions.errors.count %>件のエラーがあります。</h3>
     <ul>
          
     <% @questions.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 
<!--------質問一枚目---------->
<div class ="first">
　<h1>1</h1>
    　<%= form.text_field :content %>
    　<%#= form.collection_select :color_id, @colors, :id, :name, {}, {id: "color_selectbox",class: ""} %>
    <div class = "image_container">
        <% @colors.each do |color| %>
            <div id = <%= "image" + color.id.to_s %>>
        　      <%= link_to(image_tag(color.image_color, class: "image_size", onClick: "image_border(#{color.id}); return false;")) %>
               <%= form.collection_select :color_id, @colors, :id, :name, {}, {id: "color_selectbox",class: ""} %>
               <%#= form.check_box :"[image][#{color.name}]"%>
            </div>
        <% end %>
        

    </div>
　　<input type="button" value="次へ" onClick="next_first()">
</div>







<div class ="second hidden">
　<h1>2</h1>
    　<%#= form.text_field :content %>
    　<input id="second_btn" type="button" value="次へ" onClick="next_second()">
    　<input type="button" value="戻る" onClick="back_first()">
</div>


<div class ="third hidden">
　<h1>3</h1>
    　<%#= form.text_field :content %>
  　   <input type="button" value="次へ" onClick="next_third()">
      <input type="button" value="戻る" onClick="back_second()">
</div>

<div class ="fourth hidden">
　<h1>4</h1>
    　<%#= form.text_field :content %>
  　   <input type="button" value="次へ" onClick="next_fourth()">
      <input type="button" value="戻る" onClick="back_third()">
</div>

<div class ="fifth hidden">
　<h1>5</h1>
    　<%#= form.text_field :content %>
  　   <input type="button" value="次へ" onClick="next_fifth()">
      <input type="button" value="戻る" onClick="back_fourth()">
</div>

<div class ="sixth hidden">
　<h1>6</h1>
    　<%#= form.text_field :content %>
  　   <input type="button" value="次へ" onClick="next_sixth()">
      <input type="button" value="戻る" onClick="back_fifth()">
</div>

<div class="action">
    <!--<input type="text" name="test" id="test">-->
    <input type="text" name="image" id="test">
    <%= form.submit "送信" %>
<% end %>
</div>
  
<p><%= notice %></p>



<!--<script type="text/javascript">-->
<!--function image_border() {-->
<!--    console.log("test");-->
    <!--// newColor.style.borderColor= "red";-->
<!--    }-->
<!--    function next_first() {-->
<!--    console.log('コンソール出すぜ');-->
<!--    first[0].classList.add("hidden");-->
<!--    second[0].classList.remove("hidden");-->
<!--}-->
<!--</script>-->
