<!--Header-->
<header class="top_image">
  <div class="transparent">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="main-text">
            <div>おしゃれな子供服を受け取ろう</div>
          </div>
            <div class="sub-text">月額5000円で季節に応じてパーソナライズされた子供服を届けます。</div>
            <div class="start">
              <% if customer_signed_in? && current_customer.children.empty? %>
              <%= link_to "はじめよう",top_children_question_children_path(current_customer.id),class:"btn btn-start" %>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>


<!--Section top-introduction-->
<section id="top-introduction">
  <div class="top-introduction-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="top-introduction-heading">KIDS WEARとは？</h2>
          <p class="border"></p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12 col-md-6" style="padding:0;">
        <img src="<%= asset_path "service.jpg" %>">
      </div>

      <div class="col-xs-12 col-md-6" style="padding:0;">
        <h3 class="top-introduction-subheading text-center">
          レンタルでも購入でもない、あなただけのクローゼット<br>子供の成長に合わせて、あなただけの子供服をお届けする<br>月額制ファッションレンタルサービス
        </h3>
        <% if customer_signed_in? && current_customer.children.empty? %>
          <%= link_to "はじめよう",top_children_question_children_path(current_customer.id),class:"btn btn-start" %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!--Section Second-introduction-->
<section id="second-introduction">
  <div class="second-introduction-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="second-introduction-heading">簡単・シンプル！</h2>
          <p class="border"></p>
          <P class="second-introduction-description">
          <br>子供のサイズアウトから開放され、おしゃれを簡単に手に入れよう。
          </P>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12 col-md-3" style="padding:0;">
        <h3 class="text-center adjust">
        <span class="second-introduction-num">1</span>
        質問に答える
        </h3>
        <img src="<%= asset_path "answer.png" %>">
        　　<P class="third-introduction-description">
        　　  お子様の好きなものを教えてください。
            <br>約1分であなたにあった服をお届け。

            </P>
      </div>

      <div class="col-xs-12 col-md-3" style="padding:0;">
        <h3 class="text-center adjust">
        <span class="second-introduction-num">2</span>
        サービスを体験する
        </h3>
        <img src="<%= asset_path "present.png" %>">
        　　<P class="third-introduction-description">
        　　パーソナライズな10着をプレゼント。
            <br>到着後、90日間であれば何度でも無料交換。
            </P>
      </div>

      <div class="col-xs-12 col-md-3" style="padding:0;">
        <h3 class="text-center adjust">
        <span class="second-introduction-num">3</span>
        レビューを書く
        </h3>
        <img src="<%= asset_path "revue.png" %>">
        　　<P class="third-introduction-description">
        　　商品のレビューをお願いします。
            <br>次回のお届けのレコメンド精度がアップ。
            </P>
      </div>

      <div class="col-xs-12 col-md-3" style="padding:0;">
        <h3 class="text-center adjust">
        <span class="second-introduction-num">4</span>
        商品を交換する
        </h3>
        <img src="<%= asset_path "change.png" %>">
        　　<P class="third-introduction-description">
        　　サイズアウトに悩まない。
            <br>いらなくなった商品は季節に応じて交換。
            </P>
      </div>
    </div>
  </div>
</section>
