<div class="container">
  <div class="container basic">
    <div class="row basic">
      <div class="col-lg-12 text-center">
        <div class="basic-text">
          <h2 class="basic-heading">アカウント情報の確認</h2>
            <p class="border"></p>
              <h3 class="basic-subheading text-muted">以下の内容で会員情報を登録しますか。</h3>
        </div>
      </div>
    </div>
　　　
    <%=form_with(model: @addresses, local: true, url: addresses_path, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <label class="col-md-6 control-label">名前:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :name%>
        <%= current_user.name %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">メールアドレス:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :email%>
        <%= current_user.email %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">電話番号:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :phone_code%>
        <%= @addresses.phone_code %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">郵便番号:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :post_code%>
        <%= @addresses.post_code %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">都道府県:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :prefecture_code%>
        <%= @change_prefecture_code.name %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">市区町村:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :city_code%>
        <%= @addresses.city_code %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">番地:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :street_code%>
        <%= @addresses.street_code %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6 control-label">建物:</label>
      <div class="col-md-6 offset-md-1 confirm-adjust">
        <%= f.hidden_field :building_code%>
        <%= @addresses.building_code %>
      </div>
    </div>
      <!--createアクションへ-->
      <%= f.submit "ユーザ情報を登録する" , class:"btn btn-next"%>
    <% end %>

      <!--戻るボタン-->
  <%=form_with(model: @addresses, local: true, url: new_address_path, method:"get") do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :kana %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :phone %>
    <%= f.hidden_field :post_code %>
    <%= f.hidden_field :prefecture %>
    <%= f.hidden_field :city %>
    <%= f.hidden_field :street %>
    <%= f.hidden_field :building %>

    <%= f.submit "戻る", class: "btn btn-back", name: "back" %>
  <% end %>
  </div>
</div>
