<div class="container basic">
  <%= render partial: "shared/basic-title-rule", locals: { heading_text: "お支払い情報を登録", subheading_text: "以下より支払い情報を入力してください（カード番号4242,4242,4242,4242)" } %>
   <%= form_tag charge_path, user_id: current_customer.id do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>
      <% if @children %>
      <%# binding.pry %>
        <%= hidden_field_tag :child_id, @children.id %>
      <% else %>
        <%= hidden_field_tag :child_id, params[:child_id] %>
      <% end %>





<!--チェックアウト-->
<div class="checkout text-center">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_HMPNnEZuI8xHNOnQwt2Z53F5"
    data-amount="5000"
    data-name="Basic Plan"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="jpy">
  </script>
</div>
<% end %>
