<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>KIDS WEAR</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
      <%= flash_message(flash[:success], :success) if flash[:success] %>
      <%= flash_message(flash[:error], :danger) if flash[:error] %>
      <%= flash_message(flash[:alert], :warning) if flash[:alert] %>
      <%= flash_message(flash[:notice], :info) if flash[:notice] %>






    <!--メニューリスト-->
      <!-- <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "お問い合わせ", new_contact_path %></li>
          <% if logged_in? %>
              <li><%= link_to "マイページ", users_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_path, class:"register-btn" %></li>
            <li><%#= link_to "ログイン", new_session_path %></li>
          <% end %>
        </ul> -->
      <!-- </div>
    </div>
  </nav>
    <%# flash.each do |key, value| %> -->
      <%#= content_tag(:div, value, class: "flash flash__#{key}") %>
    <%# end %>
<%= yield %>


  <!--<footer>-->
  <!--  <small>© 2017 Copyright KIDS WEAR powered by K.O.</small>-->
  <!--</footer>-->
</body>
</html>
